<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Data</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 10px;
            margin: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #333;
            color: #fff;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3px;
        }

        button:hover {
            background-color: #555;
        }
    </style>
</head>
<body>
    <h1>User Data</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Password</th>
                    <th>UserType</th>
                    {{!-- <th>Object ID</th> --}}
                </tr>
            </thead>
            <tbody>
            {{#each logins}}
                {{#isEqual this.userType "clerk"}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.password}}</td>
                        <td>{{this.userType}}</td>
                        {{!-- <td>{{this._id}}</td> --}}
                    </tr>
                {{/isEqual}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <div class="container">
        <h1>Change Password</h1>
        <form action="/update-password" method="post">
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="New Password">
            <button type="submit">Save Password</button>
        </form>
    </div>
</body>
</html>

