<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
</head>

<body>
  <h1>Home Page</h1>
  <hr>
  <h1>Cart</h1>

  
  <h2>Total Cost: <span id="totalCost">{{ total }}</span></h2>


  <form action="/home" method="post">
    <button type="submit" name="item" value="banana|-2">-</button> Banana - $2 <button type="submit" name="item"
      value="banana|2">+</button>
    <hr>
    <button type="submit" name="item" value="mango|-3">-</button> Mango - $3 <button type="submit" name="item"
      value="mango|3">+</button>
    <hr>
    <button type="submit" name="item" value="apple|-1">-</button> Apple - $1 <button type="submit" name="item"
      value="apple|1">+</button>
    <hr>
    <button type="submit" name="item" value="kiwi|-4">-</button> Kiwi - $4 <button type="submit" name="item"
      value="kiwi|4">+</button>
    <hr>
  </form>



  <h2>Pay: <a href="/payment"> ${{ total }}</a></h2>

  <a href="/logout">Log Out</a>
</body>

</html>