<!DOCTYPE html>
<html lang="en">

<head>
    <title>Super</title>
</head>

<body>
    <a href="/clerks">Edit Clerks</a>
    <hr>
    <a href="/sales">See Sales</a>

  <a href="/logout">Log Out</a>
</body>

</html>